body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    justify-content: space-between;
    font-size: small;
    background-image:linear-gradient(to right, rgba(68, 145, 160, 0), rgb(35, 79, 241));;
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
    border-radius: 12px;
    padding: 12px 12px ;
    padding-top: 12px;
    box-shadow: 12px;
}
.name h2{
display: flex;
justify-content: space-evenly;
color: rgb(20, 2, 92);
font-weight: 1000;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;
  }
  .grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }