

  body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./Flyingshuttlebg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-between;
  }
  
  .card {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 40px;
    backdrop-filter: blur(1px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: #fff;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  button {
    padding: 10px;
    background-color: #fff;
    color: #498ffc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
  }
  
  button:hover {
    background-color: #70c1ff;
    color: #fff;
  }

  .easy button:hover{
    background-color: #005dc7;
    color: #fff;
  }

  .impossible button:hover{
    background-color: #990017;
    color: #fff;

  }

  .difficulty {
  display: flex;
  justify-content: space-between;
  }
  
  a{
  text-decoration: none;
  color: #000;
}
a:hover{
  color: #fff;
}

  